.dropdown {
  position: absolute;
  background-color: #c58787;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown p {
  margin: 0;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown p:hover {
  background-color: #be6b6b;
}
